@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif KR", serif;
}

:root {
  --primary: #2E7D32;
  --primary-light: #A5D6A7;
}

body {
  @apply bg-white text-slate-900 font-sans;
}

.font-serif {
  font-family: var(--font-serif);
}
